<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setting Value</title>
    <link
      href="{{ url_for('static', filename='css/option.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="pt-4 bg-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="page-content" style="padding: 19.9px">
              <div
                class="d-flex align-items-center justify-content-between mt-4"
              >
                <h2 class="section-title">Setting Value</h2>
                <div class="d-flex">
                  <a class="btn btn-outline-success ms-3" href="/">나가기</a>
                </div>
              </div>

              <p class="section-description">
                데이터 수집에 필요한 값들을 입력해주세요
              </p>
              <form id="settingForm">
                <div class="form-group">
                  <label for="keyword">특정 키워드 필터링</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      id="keyword"
                      placeholder="ex) keyword1, keyword2, keyword3 ..."
                    />
                    <button
                      class="btn btn-success save-btn"
                      type="button"
                      data-field="keyword"
                    >
                      SAVE
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <label for="search_ID">검색할 프로필 ID</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      id="search_ID"
                      type="text"
                      placeholder="Your Profile ID *"
                    />
                    <button
                      class="btn btn-success save-btn"
                      type="button"
                      data-field="search_ID"
                    >
                      SAVE
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <label for="search_domain">검색할 도메인</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      id="search_domain"
                      type="text"
                      placeholder="ex) www.joogint.com"
                    />
                    <button
                      class="btn btn-success save-btn"
                      type="button"
                      data-field="search_domain"
                    >
                      SAVE
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <label for="search_word">검색엔진에 적용할 단어</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      id="search_word"
                      type="text"
                      placeholder="Your search word *"
                    />
                    <button
                      class="btn btn-success save-btn"
                      type="button"
                      data-field="search_word"
                    >
                      SAVE
                    </button>
                  </div>
                </div>
              </form>

              <div
                class="d-flex align-items-center justify-content-between mt-4"
              >
                <h2 class="section-title">Save Value</h2>
                <button
                  class="btn btn-secondary refresh-btn ms-3"
                  onclick="location.reload();"
                >
                  Update
                </button>
              </div>
              <div class="card mt-4" id="savedValues">
                <div class="card-body">
                  <p>Keyword: {{ saved_values[0] }}</p>
                  <p>Search ID: {{ saved_values[1] }}</p>
                  <p>Search Domain: {{ saved_values[2] }}</p>
                  <p>Search Word: {{ saved_values[3] }}</p>
                  <p>User ID: {{ saved_values[4] }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="static/js/option.js"></script>
    </section>
  </body>
</html>
